#Bmw{
    background-color: aquamarine;
}

.container{
    background-color: blueviolet;
}

#hobbies{
    background-color: #12ea52;
}

.list{
    background-color: cyan;
}

.footer{
    background-color: deeppink;
}

.contact{
    background-color: khaki;
}